.pagination {
  display: flex;
  justify-content: center;
}

.ant-pagination {
  display: inline-block;
  margin: 36px auto 20px auto;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #1890ff;
}
.ant-pagination .ant-pagination-item-active a {
  color: white;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-select .ant-select-arrow {
  display: none;
}

@media (max-width: 555px) {
  .ant-pagination {
    margin-top: 20px;
  }
}
