.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 32px;
  grid-column-gap: 36px;
  margin-top: 34px;
}

@media (max-width: 555px) {
  .card-list {
    margin-top: 10px;
  }
}

@media (max-width: 1050px) {
  .card-list {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}
